/* #region Color Palette */
:root{
    --bool-header-background:rgba(173, 216, 230, 1);
    --bool-header-items: rgba(218, 165, 32, 1);
    --bool-main-section-banner: rgba(0, 0, 139, 1);
    --bool-banner: rgba(238, 130, 238, 1);
    --bool-main-section-light: white;
    --bool-main-section-dark: rgba(211, 211, 211, 1);
    --bool-container: red;
    --bool-container-img:rgba(30, 144, 255, 1);
    --bool-container-text:rgba(255, 192, 203, 1);
    --bool-bottom-container:rgba(34, 139, 34, 1);
    --bool-footer-background: rgba(35, 39, 42, 1);
    --bool-footer-top-social-items:rgba(32, 178, 170, 1);
    --bool-footer-top-info-items:rgba(240, 128, 128, 1);
    --bool-footer-bottom: rgba(127, 255, 212, 1);
    --bool-footer-bottom-items: rgba(255, 182, 193, 1);
}
/* #endregion Color Palette */

/* #region debug */

#site_header.debug{
    height: 50px;
}

#site_main.debug{
    height: 1200px;
}

#site_footer.debug{
    height: 300px;
}

#site_main > .debug{
    height: 200px;
}

#banner.debug{
    height: 150px;
}

.section_light > .debug, .section_dark > .debug{
    height: 150px;
}

#bottom_section.debug{
    height: 400px;
}

#bottom_section > .debug{
    height: 350px;
}

/* #endregion debug */

/* Common rules */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    width: 75%;
    margin: auto;
    display: flex;
    border: 1px dotted black;
}

/* #region Header */

header{
    background-color: var(--bool-header-background);
    display: flex;
}

header > .container{
    background-color: var(--bool-header-items);
    border: 1px black dotted;
}

.logo, .login{
    flex-grow: 1;
}

nav{
    flex-grow: 2;
    text-align: center;
}

.logo, .login, nav{
    padding: 0.2rem;
    border: 1px dotted black;
}

/* #endregion Header */

/* #region Main */
/* Main sections */

main{
    background-color: yellow;
}

#section_banner{
    background-color: var(--bool-main-section-banner);
    display: flex;
}

.section_light{
    background-color: var(--bool-main-section-light);
    display: flex;
}

.section_dark{
    background-color: var(--bool-main-section-dark);
    display: flex;
}

#bottom_section{    
    background-color: var(--bool-main-section-dark);
    display: flex;
}

/* Section container */

#banner{
    width: 60%;
    background-color: var(--bool-banner);
    margin: auto;
    border: 1px dotted black;
}

.section_dark > .container{
    flex-direction: row-reverse;
}

#bottom_section > .container{
    background-color: var(--bool-bottom-container);
}

.img{
    background-color: var(--bool-container-img);
    width: 60%;
}

.text{
    background-color: var(--bool-container-text);
    width: 40%;
}

/* #endregion Main */


/* Footer */

footer{
    background-color: var(--bool-footer-background)
}